@import './style.scss';

#page-master.main-container {
    margin-top: 1em;
}

#page-master.main-container .search-form {
    display: block;
    width: 100%;
}

#page-master.main-container .tags-detail {
    @include horizontalAlignFlex(start);

    > .tags {
        width: 64%;
        cursor: pointer;

        .item {
            margin: 8px 0;
            
            &.selected {
                background-color: #fffbbb;
            }
        }
    }

    > .tag-info {
        width: 32%;

        > .top-button-area {
            padding: 0;
            margin-bottom: 8px;

            button {
                margin-right: 8px;
            }
        }

        .item, .item * {
            display: block;
        }

        .item {
            margin: 0 0 1em;

            .title {
                color: #888;
            }

            .content {
                font-size: 18px;
            }
        } 

    }
}