.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

chromedriver.exe

# Python
__pycache__/
*.pyc

# Account
api/account/userdata.json

# Evaluate
api/evaluate/eval.jpg
api/evaluate/models/*
api/evaluate/images/*

# Save
api/save/output/*

# ImageDler - Pixiv
api/imagedler/pixiv/images/
api/imagedler/pixiv/images.zip
api/imagedler/pixiv/config.py
api/imagedler/pixiv/pixiv_auth.py

# ImageDler - Twitter
api/imagedler/twitter/images/
api/imagedler/twitter/images.zip
api/imagedler/twitter/twitterPassword.py

