@import '../style.scss';

#page-image-manager {
    margin: 1em auto;
}

.btn-common {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    > div {
        width: 20%;
        margin: 1em 1em;
        border-top: 1px dashed #888;
        > dt, > dd {
            width: 80%;
            margin: 0 auto 0.5em;
        }
        > dt {
            font-size: 16px;
        }
        > dd > img {
            width: 100%;
        }
    }
}