@import "./style.scss";

select {
    font-size: 16px;
    padding: 2px 4px;
    margin: 8px 0;
}

#page-evaluate {
    margin: 1em auto;
}

.btn-common {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em;
}

.input-form {
    > div {
        margin: 0.5em auto;
        > dt, dd {
            vertical-align: middle;
            display: inline-block;
        }
    }
}

.form-reference, .button-area {
    margin: 1em auto;
}

.image-info-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    > div {
        width: 20%;
        margin: 1em 1em;
        border-top: 1px dashed #888;
        > dt, > dd {
            width: 80%;
            margin: 0 auto 0.5em;
        }
        > dt {
            font-size: 16px;
        }
        > dd > img {
            width: 100%;
        }
    }
}